{
  "extends": [
    "eslint-config-ps",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "rules": {
    "strict": "off"
  },
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  }
}
